@import "nullstyle.css";
@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap");

body {
	font-family: "Lato", sans-serif;
}
.block {
}
.title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1e212c;
}
.text_one {
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
}
.text_two {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.text_three {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
}
.text_four {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
ul > li {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.text_five {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
